.modal-content {
	max-width: 600px;
	margin: 0 auto;
}

.modal-header {
	text-align: right;
	border-bottom: none;
	padding: 10px;
}

.modal-header .language {
	font-size: 13px;
	margin: 15px;
}

.modal-footer p {
	text-align: center;
}

#btn-login, #btn-register {
	float: right;
	position: relative;
	left: -1px;
}

#recover-acct {
	position: relative;
	top: 28px;
}

#signin-btn-fb, #signin-btn-gplus {
	margin: 15px 35px;
}

#signin-btn-fb{
	background-color: #D0E9FF;
}

#signin-btn-gplus {
	background-color: #FFC5C5;
}

@media (min-width: 768px) {
	#recover-acct {
	    position: relative;
	    top: 10px;
	    left: 51px;
	}
	#owner-radio {
		position: relative;
	    left: -5px;
	}

}